body {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #EEE;
}

.sapjs-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --white-color: #FFF;
  --black-color: #2B2D42;
  --grey-color: #8D99AE;
  --accent-color: #48BFE3;
}

.sapjs-wrapper *,
.sapjs-wrapper *:before,
.sapjs-wrapper *:after {
  box-sizing: border-box;
}

.sapjs-cover {
  position: relative;
}

.sapjs-cover img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sapjs-playback {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.sapjs-playback svg {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.sapjs-song {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black-color);
}

.sapjs-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  color: inherit;
}

.sapjs-artist {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
}

.sapjs-current-time,
.sapjs-duration {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.sapjs-seek {
  position: relative;
  width: 100%;
  height: 4px;
  background: var(--black-color);
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}

.sapjs-progress {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--accent-color);
}

.sapjs-volume-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  gap: 0px;
  transition: all 150ms ease-out;
}

.sapjs-volume-wrapper.sapjs-open {
  gap: 10px;
}

.sapjs-volume-toggle {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.sapjs-volume-seek {
  position: relative;
  width: 0px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  transition: all 150ms ease-out;
  cursor: pointer;
}

.sapjs-volume-wrapper.sapjs-open .sapjs-volume-seek {
  width: 100px;
}

.sapjs-volume-value {
  position: relative;
  width: 50%;
  height: 100%;
}




/* STYLE 1 */
.sapjs-style-1 {
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  background: var(--white-color);
}

.sapjs-style-1 .sapjs-cover {
  width: 90px;
  height: 90px;
  flex: 0 0 auto;
  margin-right: -10px;
}

.sapjs-style-1 .sapjs-player {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  gap: 10px;
  flex: 1 1 100%;
}

.sapjs-style-1 .sapjs-playback {
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  flex: 0 0 auto;
  background: var(--black-color);
}

.sapjs-style-1 .sapjs-playback:hover {
  background: var(--accent-color);
}

.sapjs-style-1 .sapjs-playback svg {
  fill: var(--white-color);
  margin-left: 2px;
}

.sapjs-style-1 .sapjs-song {
  white-space: nowrap;
}

.sapjs-style-1 .sapjs-seek-wrapper {
  position: relative;
  width: 100%;
  flex: 1 1 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  color: var(--grey-color);
}

.sapjs-style-1 .sapjs-current-time,
.sapjs-style-1 .sapjs-duration {
  position: absolute;
  top: 8px;
  left: 0;
}

.sapjs-style-1 .sapjs-duration {
  left: auto;
  right: 0;
}

.sapjs-style-1 .sapjs-volume-toggle svg {
  fill: var(--black-color);
}

.sapjs-style-1 .sapjs-volume-toggle:hover svg {
  fill: var(--accent-color);
}

.sapjs-style-1 .sapjs-volume-wrapper.sapjs-open .sapjs-volume-toggle svg {
  fill: var(--accent-color);
}

.sapjs-style-1 .sapjs-volume-seek {
  background: var(--black-color);
}

.sapjs-style-1 .sapjs-volume-value {
  background: var(--accent-color);
}





/* STYLE 2 */
.sapjs-wrapper.sapjs-style-2 {
  height: 50px;
  display: flex;
  background: var(--white-color);
}

.sapjs-style-2 .sapjs-cover {
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
}

.sapjs-style-2 .sapjs-player {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.sapjs-style-2 .sapjs-seek {
  height: 10px;
  border-radius: 0px;
}

.sapjs-style-2 .sapjs-main-container {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
}

.sapjs-style-2 .sapjs-playback {
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 0%;
  flex: 0 0 auto;
}

.sapjs-style-2 .sapjs-playback svg {
  fill: var(--black-color);
}

.sapjs-style-2 .sapjs-playback:hover svg {
  fill: var(--accent-color);
}

.sapjs-style-2 .sapjs-timecode {
  position: relative;
  margin-right: auto;
  display: flex;
  gap: 5px;
  flex: 0 0 auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  color: var(--black-color);
}

.sapjs-style-2 .sapjs-song {
  position: relative;
  display: flex;
  gap: 5px;
  flex: 1 1 auto;
  justify-content: center;
}

.sapjs-style-2 .sapjs-volume-toggle svg {
  fill: var(--black-color);
}

.sapjs-style-2 .sapjs-volume-toggle:hover svg {
  fill: var(--accent-color);
}

.sapjs-style-2 .sapjs-volume-wrapper.sapjs-open .sapjs-volume-toggle svg {
  fill: var(--accent-color);
}

.sapjs-style-2 .sapjs-volume-seek {
  background: var(--black-color);
}

.sapjs-style-2 .sapjs-volume-value {
  background: var(--accent-color);
}



/* COMMENT */
.sapjs-wrapper.sapjs-style-3 {
  height: 50px;
  display: flex;
  border-radius: 25px;
}

.sapjs-style-3 .sapjs-cover {
  width: 70px;
  height: 70px;
  margin-left: -5px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.sapjs-style-3 .sapjs-seek {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 25px;
}

.sapjs-style-3 .sapjs-player {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  gap: 10px;
  z-index: 2;
  background: var(--white-color);
  border-radius: 20px;
}

.sapjs-style-3 .sapjs-playback {
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 0%;
  flex: 0 0 auto;
}

.sapjs-style-3 .sapjs-playback svg {
  fill: var(--black-color);
}

.sapjs-style-3 .sapjs-playback:hover svg {
  fill: var(--accent-color);
}

.sapjs-style-3 .sapjs-song {
  position: relative;
  display: flex;
  gap: 5px;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.sapjs-style-3 .sapjs-timecode {
  position: relative;
  display: flex;
  gap: 5px;
  flex: 0 0 auto;
  margin-left: auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  color: var(--black-color);
}

.sapjs-style-3 .sapjs-volume-toggle svg {
  fill: var(--black-color);
}

.sapjs-style-3 .sapjs-volume-toggle:hover svg {
  fill: var(--accent-color);
}

.sapjs-style-3 .sapjs-volume-wrapper.sapjs-open .sapjs-volume-toggle svg {
  fill: var(--accent-color);
}

.sapjs-style-3 .sapjs-volume-seek {
  background: var(--black-color);
}

.sapjs-style-3 .sapjs-volume-value {
  background: var(--accent-color);
}
